@page "/Corsi"

@using GestionaleFitstic2020.Data
@using Microsoft.EntityFrameworkCore
@using static GestionaleFitstic2020.FitsticDataBase2020
@inject ApplicationDbContext dbCorso

<!doctype html>
<html lang="eng">

    <head>


        <style>


            body {
                background-color: whitesmoke;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 25px;
            }

            .oswald {
                font-family: 'Oswald', 'Arial', 'Comic Sans', 'sans-serif', 'Century';
            }



            form {
                background: #FFFFFF;
                padding: 10px;
                width: 100%;
                font: 16px Arial;
                color: #354950;
                font-size: medium;
                border-radius: 1px;
            }

            input[type=text] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid#F3F3F3;
                border-radius: 1px;
                background-color: #F3F3F3;
                color: #354950;
            }

            textarea {
                width: 100%;
                height: 150px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #cacaca;
                border-radius: 1px;
                background-color: #F3F3F3;
                resize: none;
            }

            input[type=button], input[type=submit], input[type=reset] {
                width: 25%;
                background-color: #F3F3F3;
                border: 2px solid #F3F3F3;
                font: 16px Arial;
                color: #354950;
                padding: 16px 32px;
                text-decoration: solid;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 1px;
                
               
            }

            input:hover {
                background-color: #a8d5d3;
                color: #FFFFFF;
            }

            table {
                background: #FFFFFF;
                padding: 10px;
                width: 100%;
                font: 14px Arial;
                text-decoration: none;
                color: #354950;
                font-size: medium;
            }

            th, td {
                padding: 7px 10px 10px 10px;
                border-radius: 1px;
                text-align: center;
            }

            th {
                letter-spacing: 0.1em;
                font-size: 14px;
                font: Arial;
                text-align: center;
                display: table-cell;
                vertical-align: inherit;
                font-weight: normal;
            }

            tr.even {
                border-radius: 1px;
            }

            tr:hover {
                background-color: #a8d5d3;
                border-radius: 1px;
                color: #F3F3F3;
            }

            .money {
                text-align: center;
                border-radius: 1px;
            }

            * {
                box-sizing: border-box;
            }

            .box {
                float: left;
                width: 50%;
                padding: 50px;
                height: 300px;
            }

            .clearfix::after {
                content: "";
                clear: both;
                display: table;
            }


            .clearfix::after {
                content: "";
                clear: both;
                display: table;
            }

            p {
                font-size: 18px;
            }

            div {
                box-sizing: border-box
            }

            .float {
                float: left
            }

            .w-20 {
                width: 20%
            }

            .w-33 {
                width: 33.33%
            }

            .w-44 {
                width: 44.44%
            }

            .bordered {
                border: 1px solid #000000
            }

            .clear {
                clear: both
            }

            .grey {
                color: #000000
            }

            .b-grey {
                border-color: #FFFFFF
            }

            .p-2 {
                padding: 20px
            }

            .mx-1 {
                margin: 0 10px
            }

            .mb-3 {
                margin-bottom: 30px
            }


            img {
                height: auto;
                opacity: 0.9;
            }

            input {
                padding: 6px 12px 6px 12px;
                border: 1px solid #000000;
                color: #ffffff;
            }

                input.submit:hover {
                    background-color: #000000;
                }

                input.text {
                    color: #cccccc;
                }

                    input.text:focus {
                        color: #000000
                    }

            a:link, a:visited {
                color: #000000;
                background-color: transparent;
            }

            a:hover, a:active {
                text-decoration: underline overline;
                color: #aaa;
            }
        </style>

    </head>
    <body>
        <form action="" method="post" class=center>

            <h1>Gestione Corsi FITSTIC </h1>



            @if (databaseCorso == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Data Inizio</th>
                            <th>Data Fine</th>
                            <th>Sede</th>
                            <th>Anno Accademico</th>
                            <th>OrganizzatoreId</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var databasecorsi in databaseCorso)
                        {
                            <tr>
                                <td>@databasecorsi.Id</td>
                                <td>@databasecorsi.Nome</td>
                                <td>@databasecorsi.DataInizio</td>
                                <td>@databasecorsi.DataFine</td>
                                <td>@databasecorsi.Sede</td>
                                <td>@databasecorsi.AnnoAccademico</td>
                                <td>@databasecorsi.OrganizzatoreId</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="text-center mb-3">
                <input type="button" onclick="" value="Nuovo">
                <input type="button" onclick="" value="Elimina">
            </div>

                @code {
                    private Corso[] databaseCorso;

                    protected override async Task OnInitializedAsync()
                    {
                        databaseCorso = await dbCorso.Corsi.ToArrayAsync();
                    }
                }
        </form>

    </body>

</html>
