@page "/Docenti"

@using GestionaleFitstic.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext dbDocente

    <h1>Gestione Personale FITSTIC </h1>

<p>Pagina Web per la gestione docenti</p>

@if (databaseOrganizzatore == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Data Nascita</th>
                <th>Data Assunzione</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var databaseorganizzatore in databaseOrganizzatore)
            {
            <tr>
                <td>@databaseorganizzatore.Id</td>
                <td>@databaseorganizzatore.Nome</td>
                <td>@databaseorganizzatore.Cognome</td>
                <td>@databaseorganizzatore.Email</td>
                <td>@databaseorganizzatore.Telefono</td>
                <td>@databaseorganizzatore.DataNascita.ToShortDateString()</td>
                <td>@databaseorganizzatore.DataAssunzione.ToShortDateString()</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Docente[] databaseOrganizzatore;

    protected override async Task OnInitializedAsync()
    {
        databaseOrganizzatore = await dbDocenti.Docenti.ToArrayAsync();
    }
}
