@page "/Esami"

@using GestionaleFitstic.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext dbEsame

<h1>Gestione Studenti FITSTIC </h1>

<p>Pagina Web per la gestione esami</p>

@if (databaseEsame == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Punteggio</th>
                <th>Modulo</th>
                <th>Data</th>
                <th>StudenteId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var databaseesami in databaseEsame)
            {
            <tr>
                <td>@databaseesami.Id</td>
                <td>@databaseesami.Punteggio</td>
                <td>@databaseesami.Modulo</td>
                <td>@databaseesami.Data.ToShortDateString()</td>
                <td>@databaseesami.StudenteId</td>

            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Esame[] databaseEsame;

    protected override async Task OnInitializedAsync()
    {
        databaseEsame = await dbEsame.Esami.ToArrayAsync();
    }
}
