@page "/Moduli"

@using GestionaleFitstic.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext dbModulo

<h1>Gestione Studenti FITSTIC </h1>

<p>Pagina Web per la gestione moduli</p>

@if (databaseModulo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                <th>Materia</th>
                <th>Nome</th>
                <th>CorsoId</th>
                <th>DocenteId</th>
                <th>TutorId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var databasemoduli in databaseModulo)
            {
            <tr>
                <td>@databasemoduli.Id</td>
                <td>@databasemoduli.DataInizio.ToShortDateString()</td>
                <td>@databasemoduli.DataFine.ToShortDateString()</td>
                <td>@databasemoduli.Materia</td>
                <td>@databasemoduli.Nome</td>
                <td>@databasemoduli.CorsoId</td>
                <td>@databasemoduli.DocenteId</td>
                <td>@databasemoduli.TutorId</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Modulo[] databaseModulo;

    protected override async Task OnInitializedAsync()
    {
        databaseModulo = await dbModulo.Moduli.ToArrayAsync();
    }
}
