@page "/Tutors"

@using GestionaleFitstic.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext dbTutor

<h1>Gestione Personale FITSTIC </h1>

<p>Pagina Web per la gestione tutors</p>

@if (databaseTutor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Data Nascita</th>
                <th>Data Assunzione</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var databasetutors in databaseTutor)
            {
            <tr>
                <td>@databasetutors.Id</td>
                <td>@databasetutors.Nome</td>
                <td>@databasetutors.Cognome</td>
                <td>@databasetutors.Email</td>
                <td>@databasetutors.Telefono</td>
                <td>@databasetutors.DataNascita.ToShortDateString()</td>
                <td>@databasetutors.DataAssunzione.ToShortDateString()</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Tutor [] databaseTutor;

    protected override async Task OnInitializedAsync()
    {
        databaseTutor = await dbTutor.Tutors.ToArrayAsync();
    }
}
